<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Web Programming 3nd Project "CONTACT"</title>
    <script type="text/javascript" src="javascript/post.js"></script>
    <link rel="stylesheet" type="text/css" href="css/template.css" />
</head>
<body>
  <div>
    <h1>Contact List</h1>
  </div>
    <input type="button" value="SHOW ALL" id="submit" onClick="goPost('list')">
    <table>
      <tr>
        <th>IDX</th>
        <th>NAME</th>
        <th>NUMBER</th>
        <th>E-MAIL</th>
        <th>GROUP</th>
        <th>BIRTH</th>
      </tr>
      <tr>
        <td>New</td>
        <td><input type="text" id="name" placeholder="NAME"></td>
        <td><input type="text" id="phone" placeholder="000-0000-0000"></td>
        <td><input type="text" id="email" placeholder="( mail@example.com )"></td>
        <td><input type="text" id="group" placeholder="( group )"></td>
        <td><input type="text" id="birth" placeholder="( 1999.01.01 )"></td>
        <td><input type="button" value="INSERT" onClick="goPost('insert')"></td>
        <td><input type="button" value="SEARCH" onClick="goPost('search')"></td>
      </tr>
      <% contactsList.forEach(function(item, index){%>
        <tr>
          <td><%=index+1%></td>
          <td><input type="text" value="<%=item.Name %>" id="u_name<%=item.Id%>"></td>
          <td><input type="text" value="<%=item.Phone %>" id="u_phone<%=item.Id%>"></td>
          <td><input type="text" value="<%=item.Email %>" id="u_email<%=item.Id%>"></td>
          <td><input type="text" value="<%=item.Members %>" id="u_group<%=item.Id%>"></td>
          <td><input type="text" value="<%=item.Birth%>" id="u_birth<%=item.Id%>"></td>
          <td><input type="button" value="DELETE" onclick="goPostDel('<%=item.Id%>')"></td>
          <td><input type="button" value="UPDATE" onclick="goPostUpdate('<%=item.Id%>')"></td>
        </tr>
      <% }); %>
    </table>
</body>
</html>
